<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebRailsSessionLoginTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <% if logged_in? %>
  <ul>
      <li><%= link_to t('.tasks-index'), tasks_path %></li>
      <li><%= link_to t('.new-task'), new_task_path %></li>
      <li><%= link_to t('.my-account'), user_path(current_user.id) %></li>
      <li><%= link_to t('.sign-out'), session_path(current_user.id), method: :delete %></li>
  </ul>
<% else %>
<ul>
  <li><%= link_to t('.sign-up'), new_user_path %></li>
  <li><%= link_to t('.sing-in'), new_session_path %></li>
</ul>
<% end %>



    <%= yield %>
  </body>
</html>
